.Apps {
  height: calc(100vh);
  display: grid;
  grid-template-columns: 1fr 19fr;
  background-color: white;
}

/* Full screen for every content */
.FHseYW {
  height: 100%;
  width: 100%;
}

/* Main Grid with total 12fr top: 1fr and bot: 11fr */
.MxeRr {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 11fr;
  border-radius: 20px 0px 0px 20px;
  background-color: whitesmoke;
}

/* Content Grid with total 12fr left: 10fr and right: 2fr */
.cTraYs {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-column-gap: 20px;
}

/* Left Content with total 12fr top:2fr and bot:10fr */
.LftYwr {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 10fr;
  grid-row-gap: 20px;
}

/* Custom Card */
.cRDmY {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}

/* w and h button setting for quick action */
.BttRay {
  width: 420px;
  height: 50px;
}

.font-big {
  font-size: 20px;
  color: whitesmoke;
}

.font-bigger {
  font-size: 100px;
  color: whitesmoke;
}

.outer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.mRwey {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 9fr;
  grid-row-gap: 20px;
}

.QrYSs {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-column-gap: 20px;
}

.BaYsa {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-column-gap: 20px;
}

.BaYsb {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 20px;
}

.BaYsc {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 12fr 2fr;
  grid-column-gap: 20px;
}

.button-remove {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
}